@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #323334;

}
.field{
    background-color: rgb(255, 228, 95)
}
.user{
    color: rgb(255, 166, 0);
}
.ico{
    color: orange;
}
.Modal{
    min-height: 200px;
    min-width: 80%;
    background-color: white;
    padding: 4px;
}
.close-icon{
    display: flex;
    justify-content: end;
}
.btn{
    background-color: orange;
}